<div class="section">
  <div class="columns is-centered">

    <div class="column is-half">

    <h2 class="title is-2">Sign Up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

        <div class="field">
          <div class="control">
          <%= f.input :first_name, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
          <%= f.input :last_name, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :username, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }  %>
          </div>
        </div>

        <div class="field">
          <div class="control">
          <%= f.input :email, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :password, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :password_confirmation, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input_field :preferred_language, require: true, collection: User::PREFERRED_LANGUAGE, prompt: "Preferred Language" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.button :submit, "Sign up", class:"button is-primary is-medium" %>
            </div>
            <%= render "devise/shared/links" %>
        </div>
    <% end %>
  <div>
</div>